################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Vypex.Backend
/Vypex.CodingChallenge.Service/.vs/ProjectEvaluation
/Vypex.CodingChallenge.Service/.vs/Vypex.CodingChallenge.Service/config/applicationhost.config
/Vypex.CodingChallenge.Service/.vs/Vypex.CodingChallenge.Service/DesignTimeBuild
/Vypex.CodingChallenge.Service/.vs/Vypex.CodingChallenge.Service/FileContentIndex
/.vs
/Vypex.CodingChallenge.Service/.vs/Vypex.CodingChallenge.Service/v17
/Vypex.CodingChallenge.Service/Vypex.CodingChallenge.API/obj/Debug/net9.0
/Vypex.CodingChallenge.Service/Vypex.CodingChallenge.API/obj/Release/net9.0
/Vypex.CodingChallenge.Service/Vypex.CodingChallenge.API/obj
/Vypex.CodingChallenge.Service/Vypex.CodingChallenge.Domain/obj/Debug/net9.0
/Vypex.CodingChallenge.Service/Vypex.CodingChallenge.Domain/obj/Release/net9.0
/Vypex.CodingChallenge.Service/Vypex.CodingChallenge.Domain/obj
/Vypex.CodingChallenge.Service/Vypex.CodingChallenge.Infrastructure/obj/Debug/net9.0
/Vypex.CodingChallenge.Service/Vypex.CodingChallenge.Infrastructure/obj/Release/net9.0
/Vypex.CodingChallenge.Service/Vypex.CodingChallenge.Infrastructure/obj
/Vypex.CodingChallenge.Service/Vypex.CodingChallenge.Service/obj/Debug/net9.0
/Vypex.CodingChallenge.Service/Vypex.CodingChallenge.Service/obj/Release/net9.0
/Vypex.CodingChallenge.Service/Vypex.CodingChallenge.Service/obj
/Vypex.CodingChallenge.Service/Vypex.Employee.Common/bin/Debug/net9.0
/Vypex.CodingChallenge.Service/Vypex.Employee.Common/obj/Debug/net9.0
/Vypex.CodingChallenge.Service/Vypex.Employee.Common/obj/Release/net9.0
/Vypex.CodingChallenge.Service/Vypex.Employee.Common/obj
/Vypex.CodingChallenge.Service/Vypex.Employee.Interfaces
/Vypex.CodingChallenge.Service/Vypex.Employee.Repositories/bin/Debug/net9.0
/Vypex.CodingChallenge.Service/Vypex.Employee.Repositories/obj/Debug/net9.0
/Vypex.CodingChallenge.Service/Vypex.Employee.Repositories/obj/Release/net9.0
/Vypex.CodingChallenge.Service/Vypex.Employee.Repositories/obj
/Vypex.CodingChallenge.Service/Vypex.Employee.WebApi/obj/Release/net9.0
/Vypex.CodingChallenge.Service/Vypex.Employee.WebApi/obj/Debug/net9.0
/Vypex.CodingChallenge.Service/Vypex.Employee.WebApi/bin/Debug/net9.0
/Vypex.CodingChallenge.Service/Vypex.Employee.Services/obj/Release/net9.0
/Vypex.CodingChallenge.Service/Vypex.Employee.Services/obj
/Vypex.CodingChallenge.Service/Vypex.Employee.WebApi/obj
/Vypex.CodingChallenge.Service/Vypex.Employee.Services/bin/Debug/net9.0
